form
  label(for='municipality') Jag vill läsa om befolkningsutvecklingen i: 
  input(type='text' name='municipality' id='municipality' value='Ange en kommun' size='14')
  input(type='submit' value='Skriv text')
#text